* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poor Story", cursive;
}
/* -------------------------------------------------- */
.timer {
  z-index: 99;
  position: absolute;
  position: fixed;
  flex-direction: column;
  padding: 10px;
  top: 24%;
  left: 0.7%;
  width: 170px;
  height: 500px;
  color: white;
  box-shadow: 0px;
  /* background-image: linear-gradient(135deg, #ffffff3d 10%, #fbffff 100%); */
  box-shadow: 0px 0px 5px thistle;
  /* background-size: cover; */
  border-radius: 30px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  /* color: white; */
}
.timer img {
  width: 150px;
}
.timer.black {
  color: black;
}
.timer.white {
  color: white;
}
.Economic {
  margin-bottom: 50px;
}

/* -------------------------------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 85px;
  width: 100%;
  background-color: #ffffffcc;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img:nth-child(1) {
  width: 110px;
  cursor: pointer;
}
.logo img:nth-child(2) {
  margin-left: -22px;
  cursor: pointer;
  width: 300px;
}
.menu {
  /* transition: all 2s; */
  /* color: white; */
  font-weight: 550;
  margin-top: 10px;
}
.menu ul {
  display: flex;
  position: relative;
}
.menu ul li {
  list-style: none;
  text-decoration: none;
  padding: 15px;
  font-size: 1.6rem;
  font-weight: bold;
}
.menu ul li:hover {
  font-size: 2rem;
  /* font-weight: 300; */
}
.menu ul li a {
  text-decoration: none;
  color: inherit;
}
.menu ul ul {
  display: none;
}
.menu ul li:hover ul {
  margin-left: -18px;
  position: absolute;
  top: 70%;
  display: block;
}
/* -------------------------------------------------- */
section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
video {
  width: 100%;
  filter: drop-shadow(8px 8px 10px green);
}
.saying {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(229, 236, 234);
}
.saying h1 {
  font-size: 3rem;
}
.saying button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  background: none;
  font-size: 1.6rem;
  border: 5px solid;
  box-shadow: 1px 0px 3px 0px;
  cursor: pointer;
  color: rgb(229, 236, 234);
}
.saying button:hover {
  transition: all 0.3s ease-in-out;
  background-color: cornflowerblue;
  width: 120px;
  height: 70px;
}
.saying.vanish {
  opacity: 0;
  transition: all 0.3s;
}
/* -------------------------------------------------- */
/* -------------------------------------------------- */
.slide_show {
  border: 7px solid rgb(224, 245, 244);
  border-radius: 130px;
  list-style: none;
  width: 1150px;
  height: 300px;
  background-image: url(images/white.jpg);
  position: relative;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  top: 11%;
  left: 13%;
  overflow-x: hidden;
  /* margin-right: 60px; */
}
.show {
  width: 2000px;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: -31px;
  transition: all 0.3s ease-in-out;
  animation: slide-ani 9s ease-in-out infinite alternate;
  /* background-image: url(images/snow.jpg); */
  /* background-size: cover; */
}

.show ul {
  background-color: black;
}
@keyframes slide-ani {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-400px);
  }
  100% {
    transform: translate(-800px);
  }
}

.slide_show li {
  /* background-color: red; */
  /* padding-left: 100px; */
  /* margin-right: 50px; */
  list-style: none;
  width: 100%;
  height: 88%;
  border-radius: 20px;
  box-shadow: 2px -2px 4px maroon;
  position: relative;
  cursor: pointer;
}
.slide_show li img {
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.show .caption {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.caption p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 140%);
}
.show li:hover .caption {
  opacity: 1;
}
.sh .slide_show .show li:nth-child(1) {
  margin-left: 60px;
}

.slide_show .show li:not(:nth-child(5)) {
  margin-right: 60px;
}
.space_text {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  font-size: 3.5rem;
  color: white;
  transform: translate(-50%, -50%);
}
.class_detail {
  /* border: 2px solid; */
  width: 1000px;
  height: 300px;
  margin: 150px auto;
  position: relative;
  box-shadow: 2px -2px 5px 0px maroon;
  border-radius: 20px;
  overflow: hidden;
  /* color: white; */
}
.class_detail_img.Space_0 {
  background-image: url(images/Space_0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 100%;
}
.class_detail_img.Space_1 {
  background-image: url(images/Space_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 100%;
}
.class_detail_img.Space_2 {
  background-image: url(images/Space_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 100%;
}
.class_detail_img.Space_3 {
  background-image: url(images/Space_3.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 100%;
}
.class_detail_img.Space_4 {
  background-image: url(images/Space_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 100%;
}
.class_detail_text {
  position: absolute;
  top: 20%;
  left: 45%;
  font-size: 1.3rem;
}
.class_detail_text {
  position: absolute;
  top: 20%;
}
.content-3 {
  font-family: "Poor Story", cursive;
  position: relative;
  background-image: url("./images/cafe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.content-3-1 {
  position: absolute;
  top: 23%;
  left: 5%;
  background-size: cover;
  color: white;
  width: 600px;
  height: 400px;
  opacity: 0;
}
.content-3-1 h1 {
  font-size: 4.5rem;
}
.content-3-1 h2 {
  font-size: 2rem;
}
}
.content-3-1 h1 {
  font-size: 4.5rem;
}
.content-3-1 h2 {
  font-size: 2rem;
}
.content-3-2 {
  position: absolute;
  top: 21%;
}
.content-3-1.content3-1_appear {
  transition: all 1s;
  opacity: 1;
  transform: translateX(200px);
}
.content-3-2 {
  border-radius: 50%;
  border: 7px solid palegoldenrod;
  width: 400px;
  height: 50vh;
  background-position-x: -120px;
  background-image: url(images/cake2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 16%;
  right: 25%;
  opacity: 0;
}
.content-3-3 {
  border-radius: 50%;
  border: 7px solid palegoldenrod;
  width: 400px;
  height: 50vh;
  background-position-x: -120px;
  background-image: url(images/drink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 40%;
  right: 5%;
  opacity: 0;
}
.content-3-2.content3-2_appear {
  transition: all 0.3s 0.7s;
  opacity: 1;
}
.content-3-3.content3-3_appear {
  transition: all 0.5s 1s;
  opacity: 1;
}
